name: .NET CI

on:
  push:
    branches: [ main, dev ]

  pull_request:
    branches: [ main, dev ]

jobs:
  # --------- JOB: VALIDASI KODE (BUILD) ---------
  build:
    name: Build Solution
    runs-on: ubuntu-latest

    steps:
    - name: 1. Checkout repository
      uses: actions/checkout@v4

    - name: 2. Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: 3. Restore dependencies
      run: dotnet restore mDBMS.sln

    - name: 4. Build solution
      run: dotnet build mDBMS.sln --no-restore --configuration Release
